<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Simple File Upload</title>
  </head>
  <body>
    <ul>
        <li>
          <a href="{% url 'model_form_upload' %}">Model Form Upload</a>
        </li>
      </ul>
  </body>
</html>